body { background-color: #004e68; }
.cleaner { clear: both; }
h5 { font-size: 15px}
li { font-size: 14px}

#left-side { padding: 0px; }
#right-side { margin-top: 30px}

#form-add-video { 
  padding: 1em; 
  background-color: #14b984; 
  margin: 0px; 
  color: black;
}
#form-add-video label { 
  font-weight: bold; 
  color:black; 
}
#form-add-video input { 
  margin-bottom: 0;
}
#form-add-video button { 
  margin-bottom: 0;
}

#table-container { padding : 0px; }
#table-container table { background-color: #004e68}
#table-container th { font-weight: normal;}
#title-playlist:hover{
  color : #008CBA;
  cursor : pointer;
  transition: color 300ms ease-out;
}
#table-container tr td { color : white;}
#table-container tr:nth-of-type(even) { background-color: transparent;}
#table-container table i { margin-left: 5px; font-size: 30px}

.video-tr {
  cursor: pointer;
}

.video-tr:hover{
  background-color: #00465d;
  transition: background-color 300ms ease-out;
}

#table-container .video-tr:nth-of-type(even):hover{
  background-color: #00465d;
}