<!doctype html>
<html>
<head>
    <title>Yo tuve</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Stylesheets-->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/white.css">
    <link rel="stylesheet" href="css/font-awesome.min.css" >
    <link rel='stylesheet' href='css/raleway.css'>
    <link rel="stylesheet" href="css/estilos.css">

    <!--Libs-->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-sortable.js"></script>
    <script src="js/foundation.js"></script>
    <script src="js/foundation.reveal.js"></script>
    <script src="js/foundation.topbar.js"></script>

    <!--Backbone-->
    <script src="js/init.js"></script>
    <script>
      app.id   = '<?php echo $id   ?>';
      app.name = '<?php echo $name ?>';
    </script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/models/player.js"></script>
    <script src="js/models/video.js"></script>
    <script src="js/models/playlist.js"></script>
    <script src="js/collections/videos.js"></script>
    <script src="js/collections/playlists.js"></script>

    <!--Init-->
    <script src="js/main.js"></script>

</head>
<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Yo tuve</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
    <ul class="left">
      <li><a id="show-playlists" data-reveal-id="playlist-modal" href="#">Playlists</a></li>
    </ul>
    </section>
  </nav>
  <div class="large-6 columns" id="left-side">
    <form class="large-12 columns" id="form-add-video">
      <div class="small-8 columns">
        <div class="small-12 columns">
            <input type="text" id="video-url" />
        </div>
      </div>
      <div class="small-4 columns">
        <button class="secundary small" id="add-video" style="padding:0.8em" >Agregame el video</button> 
      </div>
    </form>
    <div class="large-12 columns" id="table-container"></div>
  </div>
  
  <div class="right large-6 columns" id="right-side">
    <div id="ytplayer" class="large-12 columns"></div>
    <script>
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api?autoplay=1";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    </script>
    <div class="large-12 columns">
      <button class="small" id="sacame-el-video" style="display:none; padding:0.8em;margin-top:1em">Sacame este video y poné el que sigue</button>
    </div>
    <!--<ul class="vcard" id="welcome-vcard">
      <h5>Para usar esta página usted tiene que hacer lo siguiente:</h5>
      <li><i class="fa fa-angle-right"></i> Entrar a <a href="http://youtube.com.ar" target="_black">Youtube</a></li>
      <li><i class="fa fa-angle-right"></i> Botón derecho sobre el video -> Copiar dirección del enlace</li>
      <li><i class="fa fa-angle-right"></i> Pegar la dirección en el formulario</li>
      <li><i class="fa fa-angle-right"></i> Click en "Agregame el video"</li>
      <li><i class="fa fa-angle-right"></i> Y listo...</li>
    </ul>-->
  </div>

  <!-- Playlists Modal -->
  <div class="reveal-modal" id="playlist-modal" data-reveal>
    <h2>Playlists</h2>
    <div id="div-playlists" />
  </div>
  
  <script type="text/html" id="playlist-list-template">
    <table>
      <thead>
        <th>Nombre</th>
        <th></th>
      </thead>
      <tbody>
      <% playlists.map(function(playlist){ %>
        <tr>
          <td><%= playlist.get('name') %></td>
          <td><a href="index.php?id=<%= playlist.get('id') %>">Abrir</a></td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </script>

  <script type="text/html" id="video-list-template">
    <% if (videos.length){ %>
      <table id="videos-list" class="small-12 columns">
        <thead>
          <th></th>
          <th>
            <span id="title-playlist"><%= app.name %></span>
            <input type="text" id="input-title-playlist" value="<%= app.name %>" style="display:none" />
          </th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% videos.map(function(video){ %>
            <tr class="video-tr" data-cid="<%- video.cid %>">
              <td>
                <% if ( video.is_playing() ) { %>
                  <i class="fa fa-play-circle-o"></i>
                <% } %>
              </td>
              <td> <%- video.get_title()%> </td>
              <td>
                <img src="<%- video.get_thumbnail() %>" style="height:50px;width:70px" />
              </td>
              <td> <button class="alert small eliminar" data-cid="<%- video.cid %>" style="padding:0.5em;margin:0px">Eliminar</td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>
  </script>

  <script type="text/javascript"> 
    $(document).foundation();
  </script>

</body>
</html>